env: dev
namespace: default-<%= app_name %>-dev
keypair: id_rsa.pub

vpc_az_count: 2

rds_<%= app_name %>_client_pool_size: 20
rds_<%= app_name %>_allocated_storage: 20
rds_<%= app_name %>_dbname: <%= app_name %>
rds_<%= app_name %>_encrypted: false
rds_<%= app_name %>_password: my_password
rds_<%= app_name %>_username: my_username
rds_<%= app_name %>_instance_type: db.t2.micro
rds_<%= app_name %>_multi_az: false
